.album {
  background: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
  min-width: 275px;
  max-width: 312px;
  margin: 0 auto;
  transition: box-shadow 0.2s ease-in;
  padding: 6px 6px 0 6px;
}

.album:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.12);
}

.album + .album {
  margin-top: 15px;
}

.album-img {
  /* background: #eee; */
  background-image: url("../../assets/images/roo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 68px;
  box-sizing: border-box;
  height: 80px;
  padding: 6px;
  width: 80px;
  display: none;
}

.album-img-grid {
  display: block;
  width: 100%;
}

.album-divider {
  background: rgb(34, 35, 38);
  box-sizing: border-box;
  border-top: #fff 6px solid;
  border-bottom: #fff 6px solid;
  height: 18px;
  width: 100%;
}

.album-details {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  /* height: 80px; */
  justify-content: flex-start;
  padding: 6px 6px 12px 6px;
  flex: 1;
}

.details {
  margin-right: auto;
}

.album-title {
  margin: 0;
  font-family: "Avenir";
}

.artist-name {
  margin: 0;
  font-family: "Avenir";
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: normal;
  text-transform: uppercase;
}

.album-year {
  font-family: "Avenir";
  text-orientation: sideways;
  font-size: 16px;
  letter-spacing: 1px;
  writing-mode: vertical-rl;
  text-transform: uppercase;
  transform: rotateZ(180deg);
  align-self: center;
}

.album-rating {
  align-items: center;
  box-sizing: border-box;
  border-top: 6px solid rgb(24, 24, 24);
  display: flex;
  height: 80px;
  justify-content: center;
  /* padding: 6px; */
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 2;
}

.rating-wrap {
  align-items: center;
  display: flex;
  justify-content: center;
}

.rating-box {
  background: rgb(243, 154, 53);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0.0);
  opacity: 0.3;
  transition: transform 2s ease-in-out, opacity 0.3s ease-in-out, background .35s ease-in-out;
}

.rating {
  font-family: "Quicksand";
  font-size: 36px;
  margin: 0;
  position: relative;
  z-index: 3;
  opacity: 0;
  transform: translateY(-30%);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}


@media screen and (min-width: 530px) {
  .album {
    display: flex;
    height: 80px;
    width: 100%;
    padding: 0;
    min-width: inherit;
    max-width: inherit;
    margin: 0;
  }

  .album-img {
    display: inline-block;
  }

  .album-img-grid {
    display: none;
  }


  .album-divider {
    border: #fff 6px solid;
    height: 80px;
    width: 18px;
  }

  .album-details {
    height: 80px;
    padding: 6px;
    flex: 1;
  }

  .album-year {
    letter-spacing: 6px;

  }

  .album-rating {
    width: 80px;
  }
}