.radio-wrapper {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  height: 20px;
  line-height: 22px;
  margin: 12px 0 0 0;
  padding: 0 25px 0 35px;
  position: relative;
  width: 50%;
}

.radio-wrapper input[type='radio'] {
  display: none;
}

.radio-wrapper span {
  background-color: #585858;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  display: inline-block;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  transition: background-color 50ms ease-out;
  width: 20px;
}
.radio-wrapper span span{
  border-radius: 6px;
  background-color: #434343;
  display: inline-block;
  height: 12px;
  left: 4px;
  position: absolute;
  top: 4px;
  transition: background-color 50ms ease-out;
  width: 12px;
}

.radio-wrapper:hover > span > span{
  background-color: #7D7D7D;
}

.radio-wrapper input:checked ~ span {
  background: #4492EC;
}
.radio-wrapper input:checked ~ span span{
  background: #fff;
}

.radio-wrapper:hover input:checked ~ span {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.9);
}

.radio-block {
  display: block;
  margin: 28px 0;
  width: 100%;
}