.sidebar-section + .sidebar-section {
  margin-top: 2px;
}

.sidebar-section.search {
  padding: 15px 30px 15px 15px;
}

.sidebar-header {
  background: rgb(243, 154, 53);  
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-family: "Quicksand";
  font-weight: 500;
  letter-spacing: 2px;
  padding: 7px 30px;
  position: relative;
  margin: 0;
  text-transform: uppercase;

  transition: background .2s ease-in;
}

.sidebar .arrow {
  bottom: 0;
  display: block;
  height: 30px;
  position: absolute;
  right: 25px;
  width: 30px;

}

.sidebar-header:hover {
  background: rgb(245, 176, 92)
}

.sidebar-section.search {
  box-sizing: border-box;
}

.sidebar-section.search .sidebar-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.sidebar-section.search .sidebar-content .search{
  margin-right: 15px;
}

.sidebar-section.search .close {
  display: inline-block;
  cursor: pointer;
  min-height: 20px;
  min-width: 20px;
  background: url('../../assets/icons/times-circle.svg') center center no-repeat;
  background-size: 100%;
  transition: transform .2s ease-in;
}

.arrow {
  background: url(../../assets/icons/whiteArrowNoCircle.svg) center center no-repeat;
  background-size: 100% 100%;
}

.arrow.down {
  transform: rotateZ(-90deg)
}

.arrow.up {
  transform: rotateZ(90deg)
}


.sidebar-content {
  overflow: hidden;
  transition: max-height .4s ease-in-out;
}

.sidebar-section .sidebar-content.hide {
  max-height: 0px;
}

.sidebar-content.sort {
  max-height: 300px;
}

.sidebar-content.filter {
  max-height: 1000px;
}

.sidebar-content.stat {
  max-height: 1000px;
}

@media screen and (min-width: 800px) {
  .sidebar-section.search .close {
    display: none;
  }

  .sidebar-section.search {
    padding: 15px;
  }

  .sidebar-section.search .sidebar-content .search{
    margin-right: 0;
  }
}