.albums {
  background: rgb(239, 239, 239);
  box-sizing: border-box;
  display: inline-block;
  height: calc(100vh - 65px);
  overflow-y: scroll;
  padding: 0 30px 30px;
  width: calc(100% - 300px);
}